#google-colab
#replicate
llama-index-readers-file
llama-index-core
llama-index-llms-openai
#llama-index-llms-deepseek
#llama-index-llms-replicate
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-llms-huggingface-api
PyMuPDF
Pillow
transformers
matplotlib
streamlit
IPython 
python-dotenv
groq
llama-index-llms-groq